form {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 100px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
}