<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/auth-style.css" rel="stylesheet" type="text/css">
    <title>Forgotten Password</title>
</head>
<body>
<div class="forgot-password-box">
    <h1>Register</h1>
    <form action="#" th:action="@{/reset}" method="post" th:object="${reqObj}">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" th:field="*{email}">
        <input type="submit" value="Reset">
        <div id="error" th:if="${exception}">
            <p class="mb-0" th:text="${exception}">Unknown error</p>
        </div>
    </form>
    <div class="extra-links">
        <a th:href="@{/}" id="forgot-password">Go back to login</a>
    </div>
</div>
</body>
</html>